@import "tailwindcss";





/* 👇 Custom gray scrollbar */
.scrollbar-gray::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-gray::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  /* gray-400 */
  border-radius: 8px;
}



/* Optional: dark mode support */
@media (prefers-color-scheme: dark) {
  .scrollbar-gray::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    /* gray-600 */
  }

  .scrollbar-gray::-webkit-scrollbar-track {
    background-color: #1f2937;
    /* gray-800 */
  }
}